---

#============================= ATUALIZA REPOSITORIO NODEJS  ==========================#

 - name: "Atualiza repositório com nodejs e npm"
   shell: "curl -sL https://rpm.nodesource.com/setup_11.x | bash - >> /dev/null"
   args:
     warn: no

#=============================  INSTALA NODEJS/NPM/AB/SSMTP  ==========================#


 - name: "Instala nodejs e ab"
   yum:
    name: ['nodejs', 'httpd-tools']
    state: present


#============================= INSTALA PM2/EXPRESS E COPIA OS ARQUIVOS DA APLICACAO   ==========================#

 - name: 'Criando diretorio para a aplicacao'
   file:
    path: '/opt/app'
    state: directory

 - name: 'Copia o package.json para o servidor remoto'
   copy:
    src: 'files/package.json'
    dest: '/opt/app/'

 - name: 'Copia o app.js para o servidor remoto'
   copy:
    src: 'files/app.js'
    dest: '/opt/app/'


 - name: "Instala pacotes package.json (Express/PM2)"
   npm:
    path: /opt/app/
 
 - name: 'Instala pm2'
   command: npm install pm2 -g


#=============================  EXECUTA A APLICAÇÃO EM MODO CLUSTER COM O MÁXIMO DE CPU DISPONÍVEL ==========================#


 - name: 'Executa o app em processamente paralelo (cluster) baseado no número de processadores e deixa em background'
   shell: pm2 start app.js -f -i max app.js
   args:
    chdir: /opt/app
   ignore_errors: True

